@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Bungee&family=Limelight&family=Palanquin+Dark:wght@400;500;600;700&family=Pattaya&family=Righteous&family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Besley;
}
header{
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.325);

}
body{
    background-color: royalblue;
}
.card2 {
    background-color: #ffffff71;
    border-radius: 40px;
    width: 100px;
    height: 100px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: #ffffff;
    margin-top: 70px;
    margin-left: 10%;
}
.card {
    background-color: #ffffff71;
    border-radius: 40px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 50px;
    text-align: center;
    transition: transform 0.3s;
    color: #ffffff;
    margin-top: 70px;
    margin-left: 10%;
}


.card h3 {
    margin: 10px 0;
    font-size: 2em;
}


.card a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    font-family: Righteous;
}