
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Besley:ital,wght@0,400..900;1,400..900&family=Bungee&family=Foldit:wght@100..900&family=Limelight&family=Noto+Color+Emoji&family=Palanquin+Dark:wght@400;500;600;700&family=Pattaya&family=Righteous&family=Silkscreen&display=swap');
*{outline: none;}
body {
    font-family: Alata;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #183f34;
    color: #fffafa;

}

header {
    padding: 30px 0;
    text-align: center;
}

nav{display: flex; align-items: center; justify-content: center;
  }

  nav ul {list-style: none; font-size: 20px;}
  nav ul li {display: inline; margin: 0 40px;}
  nav ul li a {color: #fff; text-decoration: none; padding: 8px; border-radius: 20px;}
  nav ul li a:hover{transition: ease-in .3s; transform: translateY(10); background-color:#4fc9a6; }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container .box{
    padding: 15px;
    border-radius: 15px;
    border: solid 10px #fff;
    background-color: #4fc9a6ac;
}
h1{text-align: center;}
h2{text-align: center;}
  img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
